In [2]:
import pandas as pd
import numpy as np
import sys
import math
from ipywidgets import FloatProgress
from IPython.display import display

In [2]:
train_businesses = pd.read_csv("yelp_business.csv")

# state_distances = {}

# city distances too small to cluster, most under 25 miles
def find_nearby(df):
    data = df[0].copy()
    
    f = FloatProgress(min=0, max=len(data))
    display(f)
    
    for index1, row1 in data.iterrows():
        coords_1 = (row1['latitude'], row1['longitude'])

        in_count = 0
        total_count = 0
        for index2, row2 in train_businesses.iterrows():
            coords_2 = (row2['latitude'], row2['longitude'])
            if(row1['state'] == row2['state']):  
                meters = 6371000*math.sqrt((row1['latitude']-row2['latitude'])**2 + (row1['longitude']-row2['longitude'])**2) * 3.14159 / 180
                if meters * 0.000621 < 12.5: # if miles < 12.5
                    in_count += 1
                total_count += 1
        # state_distances[row1['state']] = in_count/total_count
    
        f.value += 1

    data.set_value(index1,'proximity',in_count)
    data.set_value(index1,'proximity_percent',in_count/total_count)
        
    return data
        
#     print("index {}, {} / {}: {:.2f}%".format(index1, in_count, total_count, in_count/total_count * 100))
#     sys.stdout.flush()

from rtree import index

In [3]:
from sklearn.neighbors import BallTree
import numpy as np
RADIANT_TO_KM_CONSTANT = 6367
class BallTreeIndex:
    def __init__(self,lat_longs):
        self.lat_longs = np.radians(lat_longs)
        self.ball_tree_index = BallTree(self.lat_longs, metric='haversine')
        
    def query_radius(self,query):
        radius_km = 20.1168 # 12.5 miles to km
        radius_radian = radius_km / RADIANT_TO_KM_CONSTANT 
        query = np.radians(np.array([query]))
        indices = self.ball_tree_index.query_radius(query,r=radius_radian,count_only=True)     
        return indices

import random

n_samples_min = 2
n_samples_max = 10

lat_longs = np.array([[random.uniform(50, 52),
                       random.uniform(8, 15) ] 
                      for i in range(n_samples_max)])

print(lat_longs[0])

In [4]:
train_businesses.drop(train_businesses.columns.difference(['business_id','latitude','longitude','state']), 1, inplace=True)

In [5]:
train_businesses['lat_long'] = [[] for i in range(len(train_businesses))]

In [6]:
train_businesses.head()

              business_id state   latitude   longitude lat_long
0  FYWN1wneV18bWNgQjJ2GNg    AZ  33.330690 -111.978599       []
1  He-G7vWjzVUysIKrfNbPUQ    PA  40.291685  -80.104900       []
2  KQPW8lFf1y5BT2MxiSZ3QA    AZ  33.524903 -112.115310       []
3  8DShNS-LuFqpEWIp0HxijA    AZ  33.383147 -111.964725       []
4  PfOCPjBrlQAnz__NXj9h_w    OH  41.119535  -81.475690       []

In [7]:
for index, row in train_businesses.iterrows():
    train_businesses.set_value(index, 'lat_long', [row['latitude'], row['longitude']])

In [8]:
train_businesses.drop(['latitude', 'longitude'], axis=1)

,business_id,state,lat_long
0,FYWN1wneV18bWNgQjJ2GNg,AZ,"[33.3306902, -111.9785992]"
1,He-G7vWjzVUysIKrfNbPUQ,PA,"[40.2916853, -80.1048999]"
2,KQPW8lFf1y5BT2MxiSZ3QA,AZ,"[33.5249025, -112.1153098]"
3,8DShNS-LuFqpEWIp0HxijA,AZ,"[33.3831468, -111.96472539999999]"
4,PfOCPjBrlQAnz__NXj9h_w,OH,"[41.1195346, -81.4756898]"
5,o9eMRCWt5PkpLDE0gOPtcQ,BW,"[48.7272, 9.14795]"
6,kCoE3jvEtg6UVz5SOD3GVw,NV,"[36.20743, -115.26846]"
7,OD2hnuuTJI9uotcKycxg1A,NV,"[36.1974844, -115.2496601]"
8,EsMcGiZaQuG1OOvL9iUFug,PA,"[40.6151022445, -80.0913487465]"
9,TGWhGNusxyMaA4kQVBNeew,NV,"[36.0558252127, -115.04635039]"
10,XOSRcvtaKc_Q5H1SAzN20A,PA,"[40.2415480142, -80.2128151059]"
11,Y0eMNa5C-YU1RQOZf9XvVA,AZ,"[33.2717201, -111.79125690000001]"
12,xcgFnd-MwkZeO5G2HQ0gAQ,ON,"[43.8751774, -79.2601532]"
13,NmZtoE3v8RdSJEczYbMT9g,PA,"[40.4014882, -79.8879161]"
14,fNMVV_ZX7CJSDWQGdOM8Nw,NC,"[35.2216474, -80.8393449]"
15,l09JfMeQ6ynYs5MCJtrcmQ,ON,"[43.7113993, -79.3993388]"
16,IQSlT5jGE6CCDhSG0zG3xg,AZ,"[33.60865379999999, -112.2400118]"
17,b2I2DXtZVnpUMCXp1JON7A,WI,"[43.18508, -89.262047]"
18,0FMKDOU8TJT1x87OKYGDTg,AZ,"[33.463629, -112.34703799999998]"
19,Gu-xs3NIQTj3Mj2xYoN2aw,ON,"[43.8675648, -79.4126618]"
20,lHYiCS-y8AFjUitv6MGpxg,ON,"[43.639863311599996, -79.41953318649999]"
21,94KziT6DQ9XlBET3WzIv_w,AZ,"[33.3801334, -111.7887679]"
22,7YIy1tXOor9VCwvaSjuBHg,AZ,"[33.435463399999996, -112.00698929999999]"
23,PMH4oUa-bWELKogdtkWewg,ON,"[43.5927528, -79.6430158]"
24,VSGcuYDV3q-AAZ9ZPq4fBQ,ON,"[43.6828673, -79.32696390000001]"
25,1K4qrnfyzKzGgJPBEcJaNQ,ON,"[43.66925620000001, -79.3359022]"
26,VBHEsoXQb2AQ76J9l8h1uQ,NV,"[36.0850508374, -115.11942080200001]"
27,AtdXq_gu9NTE5rx4ct_dGg,ON,"[43.6567287, -79.3807182]"
28,Dj0S-Oe4ytRJzMGUPgYUkw,OH,"[41.343078000000006, -82.06714000000001]"
29,gAy4LYpsScrj8POnCW6btQ,SC,"[35.047286799999995, -80.9905588]"
...,...,...,...
174537,z9BQubTnhhZd0iTJ-THbxg,EDH,"[55.975580039200004, -3.1674088555]"
174538,axvE68Q_osdFijj1a21Omw,NV,"[36.2755878, -115.17933700000002]"
174539,swjz4q8gI79Ndg4APuHEUA,NV,"[36.134355299999996, -115.22446240000001]"
174540,g0uFTFdKGarWEPb9gHlmag,AZ,"[33.3180475, -111.8418389]"
174541,PfSNuUa53A-N5rY1kRshmA,PA,"[40.4369811, -79.9902435]"
174542,BhcpdT3W7YeyFeVAWPolkQ,AZ,"[33.360239299999996, -112.40530459999998]"
174543,SvW3WsatQWvR8c1iwAD_QA,ON,"[43.666033899999995, -79.38434079999999]"
174544,nGjEV4bn0DPk8bcb0C6Aig,ON,"[43.6820536, -79.3289963]"
174545,pUhU5ohYv65g8B47dTXAKA,NV,"[36.173589, -115.11677859999999]"
174546,sH9WsMj8sNTTSAUWv4UEEg,NV,"[36.0551303369, -115.24348758]"
174547,OMXqIZdvhDlrXlkpR34diQ,AZ,"[33.4169618, -112.00009920000001]"
174548,FxtrmM1a_0jcNnxiEF_Emg,BW,"[48.898590000000006, 9.20147]"
174549,iR1CIWFZOlfndjXn9fHflQ,EDH,"[55.947854799999995, -3.1955508]"
174550,R2oTFgwyurdx8fmZh7uAGg,PA,"[40.5445585, -80.00873940000001]"
174551,6jzWUo0HAT3hNgBH-zHtYg,PA,"[40.522828000000004, -80.00653100000001]"
174552,9ouC6BpmjFpLfHeQnLQqng,NV,"[36.1287799, -115.2089904]"
174553,JnhuORtEQOW8XkVXB3l2tQ,NC,"[35.3226687, -80.6490064]"
174554,vewqpBniDWKH4R05hxQwUQ,AZ,"[33.2915205905, -111.722392372]"
174555,yJH_gq99aEj8xtyBaAQH8Q,BW,"[48.764212, 9.1660861]"
174556,n9a-3YhibkMDUEgncIivHg,NV,"[36.1500216, -115.33316869999999]"
174557,fp97iuseEoP7SGv74lSnhQ,ON,"[43.681727, -79.612049]"
174558,UdEmYOnk2iJDY9lpEPAlJQ,AZ,"[33.3113830747, -111.859603856]"
174559,N-ujj4Xsq7Qg9A1fDGkUmA,AZ,"[33.495349600000004, -112.0823865]"
174560,fBUoQ3WCyQX9sMWteZfI3w,QC,"[45.5046284, -73.573533]"
174561,kLFm_kehXNZkUc1oa2-Eaw,ON,"[43.6497889, -79.4339281]"
174562,ALV5R8NkZ1KGOZeuZl3u0A,ON,"[43.873459900600004, -78.9680334729]"
174563,gRGalHVu6BcaUDIAGVW_xQ,OH,"[41.243384999999996, -81.636212]"
174564,XXvZBIHoJBU5d6-a-oyMWQ,AZ,"[33.4079141, -111.965098]"
174565,lNpPGgM96nPIYM1shxciHg,PA,"[40.5177242, -80.09146640000002]"
174566,viKaP26BcHU6cLx8sf4gKg,AZ,"[33.4798608958, -112.044689035]"

all_lat_longs = train_businesses['lat_long'].tolist()
print(all_lat_longs[0])

In [15]:
train_businesses['proximity'] = 0
train_businesses['proximity_percent'] = 0
train_businesses.head()

,business_id,state,latitude,longitude,lat_long,proximity,proximity_percent
0,FYWN1wneV18bWNgQjJ2GNg,AZ,33.330690,-111.978599,"[33.3306902, -111.9785992]",0,0
1,He-G7vWjzVUysIKrfNbPUQ,PA,40.291685,-80.104900,"[40.2916853, -80.1048999]",0,0
2,KQPW8lFf1y5BT2MxiSZ3QA,AZ,33.524903,-112.115310,"[33.5249025, -112.1153098]",0,0
3,8DShNS-LuFqpEWIp0HxijA,AZ,33.383147,-111.964725,"[33.3831468, -111.96472539999999]",0,0
4,PfOCPjBrlQAnz__NXj9h_w,OH,41.119535,-81.475690,"[41.1195346, -81.4756898]",0,0

In [10]:
dfs = []
for g, df in train_businesses.groupby(['state']):
    dfs.append(df)

In [12]:
print(len(dfs))

67

In [17]:
np.where(np.isnan(train_businesses['latitude']))

(array([136097], dtype=int64),)

In [19]:
print(train_businesses.ix[136097])

business_id          W1x0rlzGUrMBbK3Hq5bk2Q
state                                    ON
latitude                                NaN
longitude                               NaN
lat_long                         [nan, nan]
proximity                                 0
proximity_percent                         0
Name: 136097, dtype: object

C:\Users\Brian\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [21]:
f = FloatProgress(min=0, max=len(dfs))
display(f)

for df in dfs:
    state_count = len(df)
    btree = BallTreeIndex(df['lat_long'].tolist())
    
    for index, row in df.iterrows():  
        try:
            nearby_count = btree.query_radius(row['lat_long'])
            train_businesses.set_value(index, 'proximity', nearby_count)
            train_businesses.set_value(index, 'proximity_percent', nearby_count/state_count * 100)
        except ValueError:
            print("Found business {} with invalid lat_long {}".format(index, row['lat_long']))
            pass
    
    f.value += 1

A Jupyter Widget

Found business 136097 with invalid lat_long [nan, nan]

In [24]:
train_businesses.ix[6]

business_id          kCoE3jvEtg6UVz5SOD3GVw
state                                    NV
latitude                            36.2074
longitude                          -115.268
lat_long             [36.20743, -115.26846]
proximity                             25406
proximity_percent                        76
Name: 6, dtype: object

In [25]:
train_businesses.head()

,business_id,state,latitude,longitude,lat_long,proximity,proximity_percent
0,FYWN1wneV18bWNgQjJ2GNg,AZ,33.330690,-111.978599,"[33.3306902, -111.9785992]",21976,42
1,He-G7vWjzVUysIKrfNbPUQ,PA,40.291685,-80.104900,"[40.2916853, -80.1048999]",4201,41
2,KQPW8lFf1y5BT2MxiSZ3QA,AZ,33.524903,-112.115310,"[33.5249025, -112.1153098]",25498,48
3,8DShNS-LuFqpEWIp0HxijA,AZ,33.383147,-111.964725,"[33.3831468, -111.96472539999999]",26003,49
4,PfOCPjBrlQAnz__NXj9h_w,OH,41.119535,-81.475690,"[41.1195346, -81.4756898]",1427,11

In [26]:
train_businesses.drop(['latitude', 'longitude', 'lat_long'], axis=1)

                   business_id state  proximity  proximity_percent
0       FYWN1wneV18bWNgQjJ2GNg    AZ      21976                 42
1       He-G7vWjzVUysIKrfNbPUQ    PA       4201                 41
2       KQPW8lFf1y5BT2MxiSZ3QA    AZ      25498                 48
3       8DShNS-LuFqpEWIp0HxijA    AZ      26003                 49
4       PfOCPjBrlQAnz__NXj9h_w    OH       1427                 11
5       o9eMRCWt5PkpLDE0gOPtcQ    BW       3065                 98
6       kCoE3jvEtg6UVz5SOD3GVw    NV      25406                 76
7       OD2hnuuTJI9uotcKycxg1A    NV      26586                 80
8       EsMcGiZaQuG1OOvL9iUFug    PA       2819                 27
9       TGWhGNusxyMaA4kQVBNeew    NV      23025                 69
10      XOSRcvtaKc_Q5H1SAzN20A    PA        882                  8
11      Y0eMNa5C-YU1RQOZf9XvVA    AZ      15421                 29
12      xcgFnd-MwkZeO5G2HQ0gAQ    ON       7481                 24
13      NmZtoE3v8RdSJEczYbMT9g    PA       8101                 80
14      fNMVV_ZX7CJSDWQGdOM8Nw    NC       9803                 75
15      l09JfMeQ6ynYs5MCJtrcmQ    ON      24171                 80
16      IQSlT5jGE6CCDhSG0zG3xg    AZ      14526                 27
17      b2I2DXtZVnpUMCXp1JON7A    WI       2896                 60
18      0FMKDOU8TJT1x87OKYGDTg    AZ       5921                 11
19      Gu-xs3NIQTj3Mj2xYoN2aw    ON      10316                 34
20      lHYiCS-y8AFjUitv6MGpxg    ON      21569                 71
21      94KziT6DQ9XlBET3WzIv_w    AZ      21278                 40
22      7YIy1tXOor9VCwvaSjuBHg    AZ      27861                 53
23      PMH4oUa-bWELKogdtkWewg    ON       9508                 31
24      VSGcuYDV3q-AAZ9ZPq4fBQ    ON      21882                 72
25      1K4qrnfyzKzGgJPBEcJaNQ    ON      21489                 71
26      VBHEsoXQb2AQ76J9l8h1uQ    NV      29977                 90
27      AtdXq_gu9NTE5rx4ct_dGg    ON      21754                 72
28      Dj0S-Oe4ytRJzMGUPgYUkw    OH       1972                 15
29      gAy4LYpsScrj8POnCW6btQ    SC        677                 99
...                        ...   ...        ...                ...
174537  z9BQubTnhhZd0iTJ-THbxg   EDH       3790                 99
174538  axvE68Q_osdFijj1a21Omw    NV      20407                 61
174539  swjz4q8gI79Ndg4APuHEUA    NV      31263                 94
174540  g0uFTFdKGarWEPb9gHlmag    AZ      19165                 36
174541  PfSNuUa53A-N5rY1kRshmA    PA       8661                 85
174542  BhcpdT3W7YeyFeVAWPolkQ    AZ       1955                  3
174543  SvW3WsatQWvR8c1iwAD_QA    ON      22279                 73
174544  nGjEV4bn0DPk8bcb0C6Aig    ON      21949                 72
174545  pUhU5ohYv65g8B47dTXAKA    NV      31289                 94
174546  sH9WsMj8sNTTSAUWv4UEEg    NV      28460                 86
174547  OMXqIZdvhDlrXlkpR34diQ    AZ      26534                 50
174548  FxtrmM1a_0jcNnxiEF_Emg    BW       2552                 81
174549  iR1CIWFZOlfndjXn9fHflQ   EDH       3790                 99
174550  R2oTFgwyurdx8fmZh7uAGg    PA       7593                 75
174551  6jzWUo0HAT3hNgBH-zHtYg    PA       8039                 79
174552  9ouC6BpmjFpLfHeQnLQqng    NV      31541                 95
174553  JnhuORtEQOW8XkVXB3l2tQ    NC       3873                 29
174554  vewqpBniDWKH4R05hxQwUQ    AZ      12981                 24
174555  yJH_gq99aEj8xtyBaAQH8Q    BW       3103                 99
174556  n9a-3YhibkMDUEgncIivHg    NV      23344                 70
174557  fp97iuseEoP7SGv74lSnhQ    ON      20065                 66
174558  UdEmYOnk2iJDY9lpEPAlJQ    AZ      18930                 36
174559  N-ujj4Xsq7Qg9A1fDGkUmA    AZ      26396                 50
174560  fBUoQ3WCyQX9sMWteZfI3w    QC       7490                 91
174561  kLFm_kehXNZkUc1oa2-Eaw    ON      22004                 72
174562  ALV5R8NkZ1KGOZeuZl3u0A    ON        938                  3
174563  gRGalHVu6BcaUDIAGVW_xQ    OH       2937                 23
174564  XXvZBIHoJBU5d6-a-oyMWQ    AZ      27192                 52
174565  lNpPGgM96nPIYM1shxciHg    PA       7716                 76
174566  viKaP26BcHU6cLx8sf4gKg    AZ      27772                 53

[174567 rows x 4 columns]

In [27]:
train_businesses.to_csv('./businesses_proximity.csv', index=False)

In [6]:
businesses = pd.read_csv('businesses_proximity.csv')

In [7]:
businesses.head()

,business_id,state,latitude,longitude,lat_long,proximity,proximity_percent
0,FYWN1wneV18bWNgQjJ2GNg,AZ,33.330690,-111.978599,"[33.3306902, -111.9785992]",21976,42
1,He-G7vWjzVUysIKrfNbPUQ,PA,40.291685,-80.104900,"[40.2916853, -80.1048999]",4201,41
2,KQPW8lFf1y5BT2MxiSZ3QA,AZ,33.524903,-112.115310,"[33.5249025, -112.1153098]",25498,48
3,8DShNS-LuFqpEWIp0HxijA,AZ,33.383147,-111.964725,"[33.3831468, -111.96472539999999]",26003,49
4,PfOCPjBrlQAnz__NXj9h_w,OH,41.119535,-81.475690,"[41.1195346, -81.4756898]",1427,11

In [8]:
np.count_nonzero(businesses['proximity'])

174565

In [9]:
len(businesses)

174567

In [8]:
import find_nearby
from multiprocessing import Process, Queue, Pool

In [9]:
output = Queue()

dfs = []
for g, df in train_businesses[0:8].groupby(np.arange(len(train_businesses[0:8])) // 4): # 14548
    print(df.head())
    print("df size {}".format(df.shape))
    dfs.append((df, output, train_businesses))

results = []
processes = []
for df in dfs:
    p = Process(target=find_nearby.find_nearby, args=df)
    processes.append(p)
    p.start()

for p in processes:
    result = output.get(p)
    results.append(result)
    print("\n result: \n{}".format(result))

              business_id state   latitude   longitude
0  FYWN1wneV18bWNgQjJ2GNg    AZ  33.330690 -111.978599
1  He-G7vWjzVUysIKrfNbPUQ    PA  40.291685  -80.104900
2  KQPW8lFf1y5BT2MxiSZ3QA    AZ  33.524903 -112.115310
3  8DShNS-LuFqpEWIp0HxijA    AZ  33.383147 -111.964725
df size (4, 4)
              business_id state   latitude  longitude
4  PfOCPjBrlQAnz__NXj9h_w    OH  41.119535  -81.47569
5  o9eMRCWt5PkpLDE0gOPtcQ    BW  48.727200    9.14795
6  kCoE3jvEtg6UVz5SOD3GVw    NV  36.207430 -115.26846
7  OD2hnuuTJI9uotcKycxg1A    NV  36.197484 -115.24966
df size (4, 4)

 result:
              business_id state   latitude  longitude  proximity  \
4  PfOCPjBrlQAnz__NXj9h_w    OH  41.119535  -81.47569     1359.0
5  o9eMRCWt5PkpLDE0gOPtcQ    BW  48.727200    9.14795     2983.0
6  kCoE3jvEtg6UVz5SOD3GVw    NV  36.207430 -115.26846    23363.0
7  OD2hnuuTJI9uotcKycxg1A    NV  36.197484 -115.24966    25037.0

   proximity_percent
4           0.107780
5           0.956703
6           0.706129
7           0.756725

 result:
              business_id state   latitude   longitude  proximity  \
0  FYWN1wneV18bWNgQjJ2GNg    AZ  33.330690 -111.978599    19548.0
1  He-G7vWjzVUysIKrfNbPUQ    PA  40.291685  -80.104900     2937.0
2  KQPW8lFf1y5BT2MxiSZ3QA    AZ  33.524903 -112.115310    20044.0
3  8DShNS-LuFqpEWIp0HxijA    AZ  33.383147 -111.964725    23527.0

   proximity_percent
0           0.374382
1           0.290533
2           0.383882
3           0.450588